.container-alert{
    border-radius: 25px;
    background-color: lightgrey;
    height: 50vh;
    width: 50vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    justify-content: center;
    align-items: center;

}